#change_color_hover{
    background-color: #282c3400;
    border: none;
    border-bottom: 1px solid lightgrey;
    text-align: left;
    padding: 1rem 0;
  
  }

  #change_color_hover:hover{
    color: #f45db4 !important;

  }

  
#btn_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.5rem;
  width: 100%;
}

